.relatedproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}
.relatedproducts h1{
    color: #02360b;
    font-size: clamp(24px , 3vw ,40px);
    font-weight: 600;
    text-align: center;
}
.relatedproducts hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #02360b;
    border: none;
}
.relatedproducts-item{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 30px;
    width: 100%;
    max-width: 1200px;
}
@media (max-width: 480px) {
    .relatedproducts-item {
        grid-template-columns: repeat(2 , 1fr);
        gap: 15px;
    }
}