.productdisplay{
    display: flex;
    margin: 0px 90px;
}
.productdisplay-left{
    display: flex;
    gap: 17px;
}
.productdisplay-img-list{
    height: 160px;
}
.productdisplay-img{
    width: 100%;
    max-width: 500px;
}
.productdisplat-main-img{
    width: 100%;
    height: auto;
}
.productdisplay-right{
    margin: 0px 60px;
    display: flex;
    flex-direction: column;
}
.productdisplay-h1{
    color: #02360b;
    font-size: 40px;
    font-weight: 700;
}
.productdisplay-right-star{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
    color: #02360b;
    font-size: 16px;
}
.productdisplay-right-prices{
    display: flex;
    margin: 30px 0px;
    gap: 30px;
    font-size: 20px;
    font-weight: 700;
}
.productdisplay-right-price-old{
   color: #046b15;
   text-decoration: line-through;
   font-weight: 500;
}
.productdisplay-right-price-new{
   color: #02360b;
   font-weight: 700;
}
.productdisplay-right-description{
    font-size: 20px;
    font-weight: 600;
    color: #02360b;
}
.productdisplay-right-quantity h1{
    margin-top: 50px;
    color: #02360b;
    font-size: 16ps;
    font-weight: 600;
}
.productdisplay-right-quantity{
    display: flex;
    margin: 20px 0px;
    gap: 20px;
}
.productdisplay-right-quantity div{
    padding: 18px 20px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.productdisplay-right button{
    padding: 20px 40px;
    width: 400px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}
.productdisplay-right-category{
    margin-top: 10px;
    color: #02360b;
    font-size: 22px;
    font-weight: 700;
}
.productdisplay-right-category span{
    font-weight: 600;
    color: #02360b;
    font-size: 20px;
    font-weight: 700;
}