.offers{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    margin-top:100px;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg,#cfcf86,#ffffff,#cfcf86 100%);
}
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers-left h1{
    color: rgb(53, 80, 4);
    font-size: 50px;
}