.loginsignup{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg,#cfcf86,#ffffff,#cfcf86 100%);
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginsignup-container{
    width: 100%;
    max-width: 550px;
    background: white;
    border-radius: 20px;
    padding: 40px;
}
.loginsignup-container h1{
    margin: 20px 0px;
}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.loginsignup-fields input{
    height: 55px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #cfcf86;
    outline: none;
    color: #02360b;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.loginsignup-login{
    margin-top: 20px;
    color: #02360b;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-login span{
    color: #FF4141;
    font-weight: 600;
}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #02360b;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-container button{
    width: 100%;
    height: 50px;
    color: white;
    background: #FF4141;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
}
@media (max-width: 480px) {
    .loginsignup-container {
        padding: 30px 20px;
    }
    .login-signup-container h1 {
        font-size: 24px;
        margin: 10px 0;
    }
    .loginsignup-fields input {
        height: 48px;
        font-size: 14px;
    }
    .loginsignup-login {
        font-size: 14px;
    }
    .loginsignuo-agree {
        font-size: 13px;
        gap: 10px;
    }
    .loginsignup-container button {
        font-size: 16px;
        height: 45px;
    }
}