.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 2dvh 20px;
    width: 100%;
    box-sizing: border-box;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-logo img{
    max-width: 180px;
    height: auto;
}
.footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 24px;
    color: #02360b;
    font-size: 16px;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
}
.footer-links li{
    cursor: pointer;
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
    margin-bottom: 16px;
    color: #02360b;
    font-size:20px;
    text-align: center;
}
.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: linear-gradient(180deg,#b9b87a,#e1ffea22,#b9b87a 80%);
}
@media (max-width : 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        text-align: center;
    }
    .footer-linkd {
        gap: 16px;
        font-size: 14px;
    }
}
@media (max-width: 500px) {
    .footer-logo {
        flex-direction: column;
        align-items: center;
      }
      .footer-logo img {
        max-width: 100px;
      }
      .footer-links {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: 13px;
      }
      .footer-xopyright {
        font-size: 12px;
      }
}