.cartitems{
    margin: 40px 5%;
}
.cartitems hr{
    height: 2px;
    background: #e2e2e2;
    border: none;
}
.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 15px;
    padding: 10px 0px;
    color: #02360b;
    font-size: 18px;
    font-weight: 600;
}
.cartitems-format{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
}
.carticons-product-icon{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.cartitems-quantity{
    width: 60px;
    height: 40px;
    border: 1px solid #ccc;
    background: white;
    font-size: 16px;
}
.cartitems-remove-icon{
    width: 15px;
    cursor: pointer;
}
.cartitems-format p{
    margin: 0;
}
.cartitems-format img:last-child{
    cursor: pointer;
}
.cartitems-down{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 40px 0px;
}
.cartitems-total{
    flex: 1;
    min-width: 260px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitems-total button{
    width: 100%;
    max-width: 250px;
    height: 50px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.cartitems-promocode{
    flex: 1;
    min-width: 260px;
    font-size: 16px;
    font-weight: 500;
}
.cartitems-promocode p{
    color: #02360b;
}
.cartitems-promobox{
    width: 1005;
    max-width: 300px;
    margin-top: 15px;
    padding-left: 20px;
    height: 50px;
    background: linear-gradient(180deg,#b9b87a,#e1ffea22,#b9b87a);
    display: flex;
    align-items: center;
}
.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 100%;
    height: 50px;
}
.cartitems-promobox button{
    width: 80px;
    height: 40px;
    font-size: 16px;
    background: #ff4141;
    color: white;
    cursor: pointer;
}
@media (max-width : 768px) {
      .cartitems-format-main {
        font-size: 14px;
        gap: 10px;
      }
      .cartitems-format{
        gap: 10px;
      }
      .cartitems-product-icon {
        width: 70px;
        height: 70px;
    }
}
@media (max-width: 480px) {
    .cartitems {
        margin: 20px 3%;
    }
    .cartitems-format-main,
    .cartitems-format {
        grid-template-columns: 1fr 2fr 1fr;
        font-size: 13px;
        gap: 8px;
    }
    .carticons-product-icon {
        width: 50px;
        height: 50px;
    }
    .caritems-quantity {
        width: 45px;
        height: 35px;
        font-size: 14px;
    }
}