.hero{
    min-height: 100vh;
    background: linear-gradient(180deg,#b9b87a,#e1ffea22 60%);
    display: flex;
    flex-wrap: wrap;
}
.hero-left{
    flex: 1;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px 40px 40px 60px;
}
.hero-left h2{
    color: #02360b;
    font-size:  clamp(26px ,4vw,55px);
    font-weight: 600;
}
.hero-left p{
    color: #171717;
    font-size: clamp(2rem,6vw,70px);
    font-weight: 700;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 250px;
    height:50px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
}
.hero-right{
    flex: 1;
    min-width: 280px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-right img{
    max-width: 100%;
    height: auto;
}
@media (max-width : 768px) {
      .hero {
        padding: 40px 20px;
        flex-direction: column;
        min-height: auto;
      }
      .hero-left{
        padding: 20px;
        align-items: center;
        text-align:center; 
      }
      .hero-latest-btn{
        width: 200px;
        font-size: 18px;
      }
      .hero-right {
        padding: 10px;
      }
}