.newsletter{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 40px 20px;
    margin-bottom: 150px;
    background: linear-gradient(180deg,#b9b87a,#e1ffea22,#b9b87a 80%);
    gap: 30px;
    min-height: 60vh;
}
.newsletter h1{
    color: #02360b;
    font-size: clamp(24px,4vw,50px);
    font-weight: 600;
    text-align: center;
}
.newsletter p{
    color: #02360b;
    font-size: 22px;
}
.newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 100%;
    max-width: 700px;
    height: 50px;
    border-radius: 40px;
    border: 1px solid #e3e3e3e3;
}
.newsletter input{
    width: 100%;
    margin-left : 30px;
    border: none;
    color: #02360b;
    font-size: 16px;
}
.newsletter div button{
    width: 200px;
    height: 50px;
    border-radius: 80px;
    background: #b9b87a;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    flex-shrink: 0;
}